import { Configuration } from '@azure/msal-browser';

export const msalConfig: Configuration = {
  auth: {
    clientId: '4230.....05e1f',
    authority: 'https://[yourtenant].b2clogin.com/[yourtenant].onmicrosoft.com/B2C_1A_[yourpolicy]',
    knownAuthorities: ['[yourtenant].b2clogin.com'],
    redirectUri: '/',
    postLogoutRedirectUri: '/',
  },
  cache: {
    cacheLocation: 'localStorage',
  },
};

export const loginRequest = {
  scopes: ['openid', 'offline_access'],
};